<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite thread-count="2" parallel="tests" name="Suite">
  <test thread-count="2" parallel="classes" name="Test">
    <classes>
      <class name="ui.Initialize3"/>
      <class name="ui.Initialize2"/>
      <class name="ui.Initialize7"/>
      <class name="ui.Initialize6"/>
      <class name="ui.Initialize5"/>
      <class name="ui.Initialize4"/>
      <class name="ui.Initialize"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="2" parallel="classes" name="Test2">
    <classes>
      <class name="ui.Initialize3"/>
      <class name="ui.Initialize2"/>
      <class name="ui.Initialize7"/>
      <class name="ui.Initialize6"/>
      <class name="ui.Initialize5"/>
      <class name="ui.Initialize4"/>
      <class name="ui.Initialize"/>
    </classes>
  </test> <!-- Test -->
    <test thread-count="2" parallel="classes" name="Test3">
    <classes>
      <class name="ui.Initialize3"/>
      <class name="ui.Initialize2"/>
      <class name="ui.Initialize7"/>
      <class name="ui.Initialize6"/>
      <class name="ui.Initialize5"/>
      <class name="ui.Initialize4"/>
      <class name="ui.Initialize"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
